@model WebApplication1.Models.PedidoFinalizadoModel

@{
    ViewBag.Title = "Pedido Finalizado!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Pedido finalizado com sucesso! Obrigado por comprar com a gente, volte sempre!!!</h4>

