
@{
    ViewBag.Title = "AcessoNegado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Acesso Negado</h2>
<br />

<div class="alert alert-warning" role="alert">
    Efetue o login para continuar: @Html.ActionLink("LOGIN", "Index", "Login").
</div>

